/* use hover function 
 <STYLE> h1, h2, h3, h4, h5, h6 {font-weight: normal} ;</STYLE>
 https://www.friscoisd.org/news/district-headlines/2018/08/10/fisd-applause!-applause!
 https://blogwritetheworld.tumblr.com/post/154289368987/featured-writer-bethany-abebe/embed

 (check notes file for more achievements)
 */

body {
    font-family: arial
}

#name {
    text-align: center;
}


#banner {
    text-align: center;
}
